
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 id = "tagline">Explore all posts</h1>
      </div>
    </div>
  </div>
</header>

<div class = "container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class=" col-xs-10 col-s-6 col-md-4 portfolio-item">
      <div class="clearfix visible-xs-block"></div>
        <ol>
        <li><p><%= link_to image_tag(post.photo.url, :class => "img-circle img-responsive"), post_path(post.id), id: "post-pics" %> </p>
            <p><%= link_to post.title, post_path(post.id), class: "link-post" %></p></li>
        </ol>
      </div>
    </div>
    <% end %>
  </div>
  <div class="pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>

</div>