<div class = "container">
  <div class = "col-xs-12 col-s-12 col-m-12">
    <h2 id = "catname"> <%= @category.category_name %> </h2>
  </div>

  <div class="row">
    <% @posts.each do |post| %>
    <div class=" col-xs-10 col-s-6 col-md-4 portfolio-item">
      <ol>
        <li><p><%= image_tag(post.photo.url, size: "700x400", :class => "img-rounded img-responsive") %> </p><p><%= link_to post.title, post_path(post.id) %></p>
        <p>by <%= link_to post.user.username, user_path(post.user.id) %></p></li>
      </ol>
    </div>
    <% end %>
  </div>
</div>