
<div class="col-xs-6 col-sm-2 pull-right" id = "cat">
  <div class = "bg-red">
    <h3> Categories </h3>
      <% @categories.each do |category| %>
        <p><%= link_to category.category_name, category_path(category.id) %></p>
      <% end %>
  </div>
</div>

<h2 id = "catname"> <%= @category.category_name %> </h2>

<ol>
<% @posts.each do |post| %>
  <li><p><%= link_to post.title, post_path(post.id) %>
  by <%= link_to post.user.username, user_path(post.user.id) %></p></li>
<% end %>
</ol>